@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}



body {
    max-width: 100vw;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    /* 
    width: 100%;
    height: auto;
 */
 width: 100%;
 height: 100%;
 max-height: 50vh;
}



ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    color: rgb(29, 26, 26);
}

#landing {
    height: 100vh;
}

.h2__titles {
    font-size: 60px;
    color: #243e63;
    font-weight: 900;
    margin-top: 20px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 50px;
    margin-right: 15px;
}

.row, .header__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__header {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: #000000c7;
}

.nav__link {
    font-weight: 600;
    font-size: 17.5px;
    margin: 0 30px;   
    color: rgba(0, 0, 0, 0.795);
    padding-bottom: 5px;
}

.nav__link:hover {
    color: #6415FF;
    border-bottom: 2px solid #6415FF ;
}

.nav__login {
    margin: 0 30px 0 60px;
}

.nav__link--primary {
    font-weight: 600;
    font-size: 17.5px;
    background-color: #6415FF;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    margin: 0;
    transition: all 300ms ease;
}

.nav__link--primary:hover,
.email__button:hover,
.works__click:hover,
.values__click:hover{
    background-color: #6030b1;
    cursor: pointer;
}

.btn__menu {
    font-size: 32px;
    text-align: center;
    opacity: 0;
}

/* 

HEADER

*/

button {
    cursor: pointer;
}

.purple {
    color: rgb(100, 21, 255);
}

.header__wrapper {
    display: flex;
    padding: 120px 0;
}

.header__content--left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__img--right {
    width: 60%;
}


.header__title {
    font-size: 60px;

}

.header__para--description {
    color: #243e63;
    font-size: 22.5px;
    margin: 40px 0;
    line-height: 33.75px;
}

.header__email {
    padding: 25px 240px 25px 40px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #a0aec0;
    font-size: 18px;
    color: #A0AEC0;
}

.email__button {
    position: absolute;
    padding: 20px 0;
    background-color: #6415FF;
    border: none;
    color: #F7FAFC;
    font-weight: 700;
    font-size: 18px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 300px;
    border-radius: 100px;
    transition: all 300ms ease;
}

.email__button:hover {
    border: #6415FF;
}

.header__input--wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header__content--left--bottom {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0;
    color: #A0AEC0;
}

.header__para--customers {
  font-size: 15px; 
  font-weight: 700;
  
}

.header__company--img {
    opacity: 0.5;
    width: 100%;
    margin-top: 20px;
}

/* 

FEATURES

*/

#features {
    display: flex;
    justify-content: space-between;
}

.features__main--subtitle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.features__title {
    font-size: 60px;
    color: #243e63;
    font-weight: 900;
    
}

.features__main--para{
    text-align: center;
    font-size: 22.5px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 2;
    margin-top: 20px;
    max-width: 70vh;
}

.features__wrapper {
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.features__icon--container {
    border: 1px solid rgb(229, 231, 235);
    padding: 25px;
    border-radius: 999px;
    margin-top: 40px;
}

.features__icon {
    width: 30px;
    height: 30px;
    max-width: 85vh;
}

.grid__content--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.grid__content--container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% / 3);
    max-width: 480px;
    width: 341px;
}

.grid__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
    padding: 40px 10px;
}

.features__subtitle {
    margin-bottom: 20px;
    color: #243e63;
}

.features__para {
    line-height: 2;
    font-weight: 500;
    color: #00000091;
}

/* 

QUALITY WORKS SECTION

*/
#works {

}

.works__left--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40vh;
    
}

.works__container {
    padding: 120px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.works__para {
    font-size: 22.5px;
    color: #7C8BA1;
    line-height: 1.5;
    margin: 20px 0 0;
    width: 100%;
}

.works__click {
    background-color: #6415FF;
    color: #F7FAFC ;
    font-size: 17.5px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 30px;
    padding: 15px 40px;
    margin-top: 40px;
    transition: all 300ms ease;
}

.works__img {
    width: 70%;
}

/* 

STEPS SECTION

*/

.steps__container {
    display: flex;
    padding: 120px 0;
    justify-content: space-between;
    align-items: center;
}

.steps__right--content {
    padding: 40px 0;
}

.h2__steps {
    margin-top: 16px;
}

.step__one {
    display: flex;
    font-size: 45px;
    color: #CBD5E0;
    font-weight: 600;
}

h6 {
    font-weight: 600;
    font-size: 25px;
    color: #243E63;
    
}

.steps__description {
    font-size: 17.5px;
    line-height: 2;
    font-weight: 500;
    color: #718096;
    margin-top: 15px;
}

.step__wrapper {
    margin-left: 20px;
}

.steps__wrapper {
    margin-top: 40px;
}



/* 

VALUES SECTION

*/

h3 {
    margin-left: 18px;
}

.values__left--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    padding: 40px 0;
}

.values__split--container {
    margin: 40px 32px 0 0;
}

.values__split {
    display: flex;

}

.values__para {
        font-size: 20px;
        line-height: 26px;
        margin-top: 32px;
        color: #718096;
}

.values__split--flex {
    display: flex;
}
.values__icon {
    border: 2px transparent #000000;
    border-radius: 9999px;
    padding: 10px;
}

.fa-btc {
    color: #299337;
    background-color: #11ab47;
}

.fa-briefcase {
    color: #9c0000;
    background-color: #FEB2B2;
}

.values__click {
    background-color: #6415FF;
    color: #F7FAFC ;
    font-size: 17.5px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 30px;
    padding: 15px 40px;
    margin-top: 60px;
    transition: all 300ms ease;
}

/* 

PRICING SECTION

*/

.pricing__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boxes__wrapper {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    margin: 80px 40px 0 0;
    padding: 0 40px;
    line-height: 1.625
}

.box__border--top {
    border-top: 8px solid;
}

.box__first--border--top {
    border-top-background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.box__last--border--top {
    
}


.box__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    
}

.box__two {
    background: #6415FF linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);;
    border-top: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.middle__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 0 -40px;
    width: 127%;
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.pricing__button--wrapper {
    padding: 40px 80px;
}

h4 {
    font-size: 25px;
}

.box__price {
    font-size: 60px;
    margin: 5px 0;
}

.box__subtitle {
    font-weight: 700;
    color: #A0AEC0;
    letter-spacing: 2px;
}

.box__subtitle--2 {
    font-size: 25px;
    font-weight: 700;
}

.box__detail {
    color: #718096;
    margin-top: 25px;
}

.box__middle--invert {
    color: #f7fafc;
}

.box__button0 {
    padding: 20px 40px;
    border-radius: 120px;
    font-size: 17.5px;
    font-weight: 700;
    
    line-height: 26.25px;
    letter-spacing: 0.875px;

    color: #F7FAFC;
    border: none;
    transition: all 300ms ease;
}

.box__button0:hover {
    filter: brightness(99%);
    opacity: .86;
    transform: scale(0.9);
}

.box__button--0--color {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.box__button--middle {
    color: #6415FF;
    background: #f7fafc;
}

.box__button--last {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* 

TESTIMONIALS START

*/

.stars__wrapper {
    display: flex;
    margin-top: 50px;
}
.fa-star {
    color: rgb(246, 173, 85);
    width: 25px;
    margin-right: 5px;
    
}

.testimonials__right--content {
    padding: 40px 0 0 40px;
}

.test__subtitle {
    font-size: 20px;
    color: rgb(36, 62, 99);
    margin-top: 20px;
}

.test__para {
    margin: 20px 0 50px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(74, 85, 104);
    line-height: 32.5px;
}

.mug {
    max-width: 100px;
    border-radius: 9999px;
}

.testimonials__profile--dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t__name {
    font-size: 20px;
}

.testimonial__full--profile {
    display: flex;
    align-items: center;
}

.testimonial__role {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 24px;
}


.testimonial__btn--wrapper {
    display: flex;
    justify-items: flex-end;
}

.testimonial__btn {
    padding: 1rem;
    margin: 0 12px;
    border: 0;
    border-radius: 9999px;
    color: rgb(100, 21, 255);
    transition: all 300ms ease;
}

.testimonial__btn:hover {
    filter: brightness(80%);
}

/* 

FAQS SECTION

*/

.faqs__container {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faqs__container {
    padding: 120px 0;
}

.faq__buttons--wrapper {
    max-width: 896px;
    margin-top: 60px;
}


.faqs__button {
    width: 100%;
    padding: 16px 40px;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
    background-color: rgb(237, 242, 247);
    transition: all 300ms ease;
}

.faqs__button:hover {
    filter: brightness(95%);
}

.faqs__dropdown--wrapper {
    display: flex;
    justify-content: space-between;
    
}

.box__words {
    font-size: 20px;
    font-weight: 600;
    color: #243E63;
}

.fa-angle-down {
    width: 20px;
    height: 20px;
}

/* 

BEFORE FOOTER SECTION

*/

.bf__h1 {
    font-size: 37.5px;
    max-width: 45%;
    color: rgb(247, 250, 252);
}

.bf__container {
    max-width: ;
    padding: 120px 0;
}

.bf__background {
    display: flex;
    background: #6415FF;
    padding: 120px 0;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.get__started--row {
    display: flex;
    justify-content: space-around;
    max-width: 900px;
}

.get__started--btns--wrapper {
    display: flex;
    align-items: center;
}

.bf__btn {
    font-size: 20px;
    padding: 25px 50px;
    border-radius: 9999px;
    background-color: #718096;
    color:#F7FAFC;
    border: none;
    margin-right: 32px;
    font-weight: 700;
    text-align: center;
}

.bf__btn--1 {
    background-color: #f56565;
    transition: all 300ms ease;
}

.bf__btn--1:hover {
    background-color: red;
}

.bf__btn--2 {
    background-color: #6415FF;
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}

.bf__btn--2:hover {
    background-color: #F7FAFC;
    color: #6415FF;
}


/* 

FOOTER 

*/

footer {
    background-color: #6415FF;
    padding: 120px 0;
}

.footer__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.footer__top--content--container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.footer__bottom--contents--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}

.footer__logo {
    width: 40px;
    
}

.footer__logo--title {
    display: flex;
    align-items: center;
}

.footer__title {
    font-size: 25px;
    font-weight: 900;
    color: #F7FAFC;
    margin-left: 10px;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__titles {
    font-size: 20px;
    font-weight: 700;
    color: #F7FAFC;
    margin-bottom: 18px;
}

.footer__link {
    color: #F7FAFC;
    margin-top: 15px;
    font-weight: 500;
    font-size: 17.5px;
    padding-bottom: 5px;
    transition: all 300ms ease;
}

.footer__link:hover {
    border-bottom: 2px solid #F7FAFC;
}

.footer__social--links--wrapper {

}
.footer__line {
    position: ;
}
.footer__rights {
    color: #F7FAFC;
    font-size: 20px;
}

.fa-brands {
    padding: 10px;
    border-radius: 9999px;
    background-color: #F7FAFC;
    transition: all 300ms ease;
}

.fa-brands:hover {
    cursor:pointer;
    filter: brightness(90%);
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width:1024px){

    .row {
        padding: 0 40px;
    }
    /* NAV */

    .nav__links {
        opacity: 0;
    }

    .btn__menu {
        opacity: 1;
        background-color: #F7FAFC;
        border: none;
    }

    /* LANDING PAGE */

    .header__wrapper {
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        padding: 96px 0;
        justify-content: space-between;
    }

    .header__title {
        font-size: 30px;
        text-align: center;
    }

    .header__content--left {
        width: 100%;
        max-width: 512px;
        text-align: center;
    }

    .header__content--left--bottom {
        margin: 48px;
    }

    .header__para--description {
        font-size: 16px;
        line-height: 24px;
    }

    /* FEATURES */

    .features__main--subtitle {
        font-size: 16px;
    }
    
    .features__title {
        font-size: 48px;
    }

    .features__main--para {
        font-size: 20px;
    }

    /* WORKS */

    .works__left--content {
        width: 100%;
    }

    .h2__titles {
        font-size: 36px;
    }

    .works__para {
        font-size: 20px;
        line-height: 26px;
        margin-top: 32px;
    }

    .works__img {
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
        max-width: 50vh;
    }

    .works__click {
        font-size: 14px;
        padding: 15px 40px;
    }

    /* STEPS */

    .steps__right--content {
        max-width: 40vh;
    }

    .h2__steps{
        margin-top: 16px;
    }

    h6 {
        font-size: 25px;
    }

    .steps__description {
        font-size: 17.5px;
        margin-top: 12px;
        line-height: 28px;
    }

    .step__one {
        font-size: 36px;
    }

    /* VALUES */

    .values__split {
        flex-direction: column;
    }
    
    .values__para {
        font-size: 20px;
        margin-top:20px;
        max-width: 30vh;
    }
    h3 {
        font-size:20px;
    }

    .values__click {
        padding:12px 32px;
        font-size: 14px;
    }

    /* PRICING */

    .boxes__wrapper {
        flex-direction: column;
    }

    /* GET STARTED */

    .get__started--row {
        flex-direction: column;
        align-items: center;
    }

    .bf__h1 {
        max-width: 70vh;
    }

    .get__started--btns--wrapper {
        margin-top: 30px;
    }

    /* FOOTER */

    .footer__top--content--container {
        justify-content: space-around;
    }
    .footer__bottom--contents--container {
        justify-content: space-around;
    }
}