@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.pad {
    padding: 40px;
}

body {
    max-width: 100vw;
}

nav {
    height: 80px;
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}



ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    color: rgb(29, 26, 26);
}

p {

}

#landing {
    height: 100vh;
}

.h2__titles {
    font-size: 60px;
    color: #243e63;
    font-weight: 900;
    margin-top: 20px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 50px;
    margin-right: 15px;
}

.row, .header__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__header {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: #000000c7;
}

.nav__link {
    font-weight: 600;
    font-size: 17.5px;
    margin: 0px 1.5rem;   
    border-bottom-width: 0px;
    color: rgba(0, 0, 0, 0.795);
}

.nav__link--primary {
    border: 6px solid #7342d6;
    background-color: #7342d6;
    color: white;
    padding: 8px 36px;
    border-radius: 30px;
}

.nav__link--styled {

}

/* 

HEADER

*/

button {

}

.purple {
    color: rgb(100, 21, 255);
}

.header__wrapper {
    display: flex;
    padding: 120px 0;
}

.header__content--left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__img--right {
    width: 60%;
}


.header__title {
    font-size: 60px;
}

.header__para--description {
    color: #243e63;
    font-size: 22.5px;
    margin: 40px 0;
    line-height: 33.75px;
}

.header__email {
    padding: 25px 240px 24px 40px;
    border-radius: 36px;
    border: 2px solid #00000011;
    width: 100%;
}

.email__button {
    border-radius: 36px;
    width: 100%;
    border: 6px solid #7342d6;
    background-color: #7342d6;
    color: white;
}

.header__input--wrapper {
    display: flex;
}

.header__content--left--bottom {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0;
    color: #A0AEC0;
}

.header__para--customers {
  font-size: 15px; 
  font-weight: 700;
  
}

.header__company--img {
    opacity: 0.5;
    width: 100%;
    margin-top: 20px;
}

/* 

FEATURES

*/

#features {
    display: flex;
    justify-content: space-between;
}

.features__main--subtitle {
    font-weight: 700;
}

.features__title {
    font-size: 60px;
    color: #243e63;
    font-weight: 900;
    
}

.features__main--para{
    text-align: center;
    font-size: 22.5px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 2;
    margin-top: 20px;
    max-width: 720px;
}

.features__wrapper {
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.features__icon--container {
    border: 1px solid rgb(229, 231, 235);
    padding: 25px;
    border-radius: 999px;
    margin-top: 40px;
}

.features__icon {
    width: 30px;
    height: 30px;
    max-width: 85vh;
}

.grid__content--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.grid__content--container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% / 3);
    max-width: 480px;
    width: 341px;
}

.grid__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
    padding: 40px 10px;
}

.features__subtitle {
    margin-bottom: 20px;
    color: #243e63;
}

.features__para {
    line-height: 2;
    font-weight: 500;
    color: #00000091;
}

/* 

QUALITY WORKS SECTION

*/
#works {

}

.works__left--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 520px;
    
}

.works__container {
    padding: 120px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.works__para {
    font-size: 22.5px;
    color: #7C8BA1;
    line-height: 1.5;
    margin: 20px 0 0;

}

.works__click {
    background-color: #6415FF;
    color: #F7FAFC ;
    font-size: 17.5px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 30px;
    padding: 15px 40px;
    margin-top: 40px;
}

.works__img {
    height: 411px;
    border-width: 2px;
}

/* 

STEPS SECTION

*/

.steps__container {
    display: flex;
    padding: 120px 0;
    justify-content: space-between;
    align-items: center;
}

.steps__right--content {
    padding: 40px 0;
}

.step__one {
    display: flex;
    font-size: 45px;
    color: #CBD5E0;
    font-weight: 600;
}

h6 {
    font-weight: 600;
    font-size: 25px;
    color: #243E63;
    
}

.steps__description {
    font-size: 17.5px;
    line-height: 2;
    font-weight: 500;
    color: #718096;
    margin-top: 15px;
}

.step__wrapper {
    margin-left: 20px;
}

.steps__wrapper {
    margin-top: 40px;
}



/* 

VALUES SECTION

*/

h3 {
    margin-left: 18px;
}

.values__left--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    padding: 40px 0;
}

.values__split--container {
    margin: 40px 40px 0 0;
}

.values__split {
    display: flex;

}

.values__split--flex {
    display: flex;
}
.values__icon {
    border: 2px transparent #000000;
    border-radius: 9999px;
    padding: 10px;
}

.fa-btc {
    color: #299337;
    background-color: #9AE6B4;
}

.fa-briefcase {
    color: #9c0000;
    background-color: #FEB2B2;
}

.values__click {
    background-color: #6415FF;
    color: #F7FAFC ;
    font-size: 17.5px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 30px;
    padding: 15px 40px;
    margin-top: 60px;
}

/* 

PRICING SECTION

*/

.pricing__container {
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes__wrapper {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    margin: 80px 40px 0 0;
    padding: 0 40px;
    
    line-height: 1.625
}

.box__border--top {
    border-top: 8px solid;
}

.box__first--border--top {
    border-top-background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.box__last--border--top {
    
}


.box__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    
}

.box__two {
    background: #6415FF linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);;
    border-top: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.middle__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 0 -40px;
    width: 127%;
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.pricing__button--wrapper {
    padding: 40px 80px;
}

h4 {
    font-size: 25px;
}

.box__price {
    font-size: 60px;
    margin: 5px 0;
}

.box__subtitle {
    font-weight: 700;
    color: #A0AEC0;
    letter-spacing: 2px;
}

.box__subtitle--2 {
    font-size: 25px;
    font-weight: 700;
}

.box__detail {
    color: #718096;
    margin-top: 25px;
}

.box__middle--invert {
    color: #f7fafc;
}

.box__button0 {
    padding: 20px 40px;
    border-radius: 120px;
    font-size: 17.5px;
    font-weight: 700;
    
    line-height: 26.25px;
    letter-spacing: 0.875px;

    color: #F7FAFC;
    border: none;

}

.box__button--0--color {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.box__button--middle {
    color: #6415FF;
    background: #f7fafc;
}

.box__button--last {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* 

TESTIMONIALS START

*/

.stars__wrapper {
    display: flex;
}
.fa-star {
    color: rgb(246, 173, 85);
    width: 25px;
}